@charset "utf-8";
html,body{
    height: 100%;
    background-color:#fff;
    min-width: 320px;
    font-size: 100%;
    font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, b{
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}
div, ul, li, dl, dt, dd, table, td, input ,span{
    font-size: .75rem;
    display:block;
}
h3 {
    display: block;
    font-weight: bold;
    float:left;
    word-break:break-all;
}
header{
    border-bottom: 1px solid #e60044;
    position: relative;
}
//问题部分
.lw-help{
    margin-bottom:48px;
}
//问题部分下面包含所有问题的div
.lw-help-list{
    width:100%;
    a{
        width:100%;
        color: #666666;
        dt{
        height:21px;
        border-bottom: 1px solid #B3ADAD;
        padding:4% 6%;
        }
    }
}
//问题部分中的星星图片
.lw-help-xingxing{
    background: url(../image/icon/member-index-icon.png) no-repeat;
    height: 20px;
    width: 25px;
    float:left;
    background-size: 17px auto;
    background-position: 0px -88px;
}
