html, body {
  height: 100%;
  line-height: 14px;
  background-color: #fff;
  min-width: 320px;
  font-size: 62.5%;
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; }

h1, h2, h3, h4, h5, b {
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

div, ul, li, dl, dt, dd, table, td, input, span {
  font-size: 1.2rem; }

.lw-shopping-cart {
  text-align: center;
  font-size: 1.75rem;
  color: #999;
  padding: 80px 0 10px 0; }
  .lw-shopping-cart s {
    background: url(../image/icon/y7.png);
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: 100px auto; }

.lw-no-participation {
  margin-top: 30px; }
  .lw-no-participation a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #e60044;
    height: 35px;
    color: #fff;
    line-height: 35px;
    font-size: 1.75rem;
    border-radius: 200px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.lw-gray6 {
  color: #666; }

.lw-gray9 {
  color: #999; }

.lw-fr {
  float: right; }

.lw-fl {
  float: left; }

.lw-footer-shopping a.hover {
  color: #e60044; }
  .lw-footer-shopping a.hover i {
    background-position: 0 2px; }

.lw-shopping-hidden {
  padding: 10px;
  display: block; }

.lw-hidden-wrap {
  display: block;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #e7e7e7;
  overflow: hidden; }
  .lw-hidden-wrap ul li {
    padding-top: 1px;
    border-top: 1px dotted #CCC;
    margin-top: -1px;
    zoom: 1; }

.lw-hidden-img {
  margin: 8px 5px 0 5px;
  float: left; }
  .lw-hidden-img img {
    width: 80px; }

.lw-hidden-word {
  margin-left: 90px;
  margin-top: 5px;
  margin-right: 8px; }

.lw-p-one {
  min-width: 15px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  margin-bottom: 5px; }

.lw-hideen-ins {
  text-decoration: none;
  font-family: arial;
  display: block;
  font-size: 12px;
  margin-bottom: 3px; }

.lw-p-two {
  margin-bottom: 5px;
  font-size: 1.2rem; }

.lw-two-em {
  color: #e60044; }

.lw-p-three {
  margin-bottom: 5px;
  font-size: 1.2rem;
  width: 100%;
  display: inline; }

.lw-hidden-del {
  background: url(../image/icon/setIcon.png);
  background-size: 80px auto;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  background-position: -51px -59px; }

.lw-hidden-minus {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  color: #999;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 24px;
  line-height: 25px; }

.xinjia {
  background: #f7f7f7; }

.lw-hidden-plus {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  color: #999;
  background: #fff;
  border: 1px solid #ccc;
  line-height: 28px;
  font-size: 2rem; }

.lw-hidden-input {
  color: #666;
  font-family: Arial;
  line-height: 16px;
  padding: 5px 0 4px 0;
  font-size: 16px;
  width: 58px;
  border: 1px solid #BBB;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  outline: none; }

.lw-hidden-surplus {
  border: 1px solid #e60044;
  border-radius: 16px;
  color: #e60044;
  display: block;
  height: 23px;
  line-height: 23px;
  text-align: center;
  margin-left: 5px;
  width: 35px;
  float: left;
  word-break: break-all;
  white-space: nowrap; }

.lw-close-account {
  text-align: center;
  line-height: 30px;
  margin-top: 10px; }
  .lw-close-account p span {
    color: #e60044; }
  .lw-close-account a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    background: #e60044; }

.lw-alertcut {
  z-index: 102;
  width: 54%;
  height: 45px;
  position: fixed;
  left: 23%;
  top: 46%;
  display: none; }

.lw-alertcutword {
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px; }

/*# sourceMappingURL=shoppingcart.css.map */
