@charset "UTF-8";
.lw-userbuy-wrap ul li {
  padding: 15px 10px;
  border-bottom: 1px solid #dedede; }
  .lw-userbuy-wrap ul li dl {
    margin-left: 86px;
    line-height: 18px; }
    .lw-userbuy-wrap ul li dl dt {
      display: block;
      margin-bottom: 3px;
      font-size: 1.2rem；;
      line-height: 18px; }
      .lw-userbuy-wrap ul li dl dt a {
        display: block;
        color: #666;
        max-height: 18px;
        overflow: hidden; }
    .lw-userbuy-wrap ul li dl dd {
      color: #999; }
      .lw-userbuy-wrap ul li dl dd a {
        color: #2af; }
      .lw-userbuy-wrap ul li dl dd em {
        margin: 0 3px; }

.lw-userbuy-img {
  float: left;
  width: 74px;
  height: 74px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .lw-userbuy-img i {
    display: block;
    font-style: normal;
    width: 76px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    position: absolute;
    left: -1px;
    bottom: -1px;
    text-align: center;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    border-radius: 0 0 2px 2px;
    background: #000; }
    .lw-userbuy-img i.pink {
      background: #990033; }
  .lw-userbuy-img a {
    display: block; }
    .lw-userbuy-img a img {
      display: block;
      width: 64px;
      height: 64px;
      margin: 5px auto; }

.lw-shift-ing {
  height: 42px;
  position: relative; }

.lw-jindu {
  position: relative;
  margin-left: 90px;
  color: #666;
  line-height: 18px;
  text-align: left; }

.lw-jindup {
  height: 5px;
  background: #e7e7e7;
  position: relative;
  border-radius: 3px;
  overflow: hidden; }

.lw-pgbar {
  display: block;
  height: 100%;
  border-radius: 3px;
  color: #999; }

.lw-pging {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #e60044; }

.lw-bar a {
  float: left;
  color: #ccc;
  font-size: 10px;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none; }
  .lw-bar a.lw-bar1 {
    width: 30%;
    text-align: left; }
    .lw-bar a.lw-bar1 em {
      color: #e60044; }
  .lw-bar a.lw-bar2 {
    width: 40%;
    text-align: center; }
    .lw-bar a.lw-bar2 em {
      color: #999; }
  .lw-bar a.lw-bar3 {
    width: 30%;
    float: right;
    text-align: right; }
    .lw-bar a.lw-bar3 em {
      color: #2af; }
  .lw-bar a em {
    display: block;
    font-size: 10px;
    font-family: arial;
    height: 14px;
    padding: 0;
    font-style: normal; }

.wording {
  width: 100px;
  height: 28px;
  background: #e60044;
  border-radius: 3px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 4px; }
  .wording b {
    font-family: arial;
    color: #fff;
    line-height: 28px;
    font-weight: 600; }

.lw-load {
  text-align: center;
  padding: 10px;
  background: #f7f7f7; }

.lw-nodata {
  padding: 50px 0;
  background: #f7f7f7;
  text-align: center;
  font-size: 2rem;
  color: #bbb; }
  .lw-nodata s {
    background: url(../image/icon/setIcon.png);
    background-size: 80px auto;
    display: block;
    background-position: 0 -102px;
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    margin: 0 auto; }

/*# sourceMappingURL=userbuy.css.map */
